<div class="welcome">

  <div id="slideshow">
    <div>
      <%= image_tag(image_path_for("image_header_1.jpeg"), class: "", alt: 'Banner Agüimes') %>
    </div>
    <div style="display: none;">
      <%= image_tag(image_path_for("image_header_2.jpeg"), class: "", alt: 'Banner Agüimes') %>
    </div>
    <div style="display: none;">
      <%= image_tag(image_path_for("image_header_3.jpeg"), class: "", alt: 'Banner Agüimes') %>
    </div>
    <div style="display: none;">
      <%= image_tag(image_path_for("image_header_4.jpeg"), class: "", alt: 'Banner Agüimes') %>
    </div>
    <div style="display: none;">
      <%= image_tag(image_path_for("image_header_5.jpeg"), class: "", alt: 'Banner Agüimes') %>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <h1></h1>
    </div>
  </div>
</div>

<% if header.present? %>
  <div class="jumbo highlight">
    <div class="row">
      <div class="small-12 medium-6 column <%= "medium-9 small-centered text-center" unless header.image.present? %>">
        <span><%= header.label %></span>
        <h1><%= header.title %></h1>
        <p class="lead"><%= header.description %></p>
        <div class="small-12 medium-6 large-4 <%= "small-centered" unless header.image.present? %>">
          <%= link_to header.link_text, header.link_url, class: "button expanded large" %>
        </div>
      </div>

      <% if header.image.present? %>
        <div class="small-12 medium-6 column">
          <%= image_tag(header.image_url(:large),
                        class: "margin",
                        alt: header.image.title) %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="background-header"></div>
<% end %>