<div class="welcome">

  <div id="slideshow">
    <div>
      <%= image_tag(image_path_for("image_header_1.jpeg"), class: "", alt: 'Banner Agüimes') %>
    </div>
    <div style="display: none;">
      <%= image_tag(image_path_for("image_header_2.jpeg"), class: "", alt: 'Banner Agüimes') %>
    </div>
    <div style="display: none;">
      <%= image_tag(image_path_for("image_header_3.jpeg"), class: "", alt: 'Banner Agüimes') %>
    </div>
    <div style="display: none;">
      <%= image_tag(image_path_for("image_header_4.jpeg"), class: "", alt: 'Banner Agüimes') %>
    </div>
    <div style="display: none;">
      <%= image_tag(image_path_for("image_header_5.jpeg"), class: "", alt: 'Banner Agüimes') %>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <h1></h1>
    </div>
  </div>
</div>